## sheet 0~3

In [75]:
import pandas as pd
import numpy as np

In [76]:
sheet0 = pd.read_excel('/Users/seoyeong/Desktop/project/final_user_id_num.xlsx', sheet_name = 0)
sheet1 = pd.read_excel('/Users/seoyeong/Desktop/project/final_user_id_num.xlsx', sheet_name = 1)
sheet2 = pd.read_excel('/Users/seoyeong/Desktop/project/final_user_id_num.xlsx', sheet_name = 2)
sheet3 = pd.read_excel('/Users/seoyeong/Desktop/project/final_user_id_num.xlsx', sheet_name = 3)

In [77]:
df = pd.concat([sheet0,sheet1,sheet2,sheet3],axis=1)

In [78]:
df

,"종근당건강 시원하다 전립쎈 쏘팔메토, 60정, 2개 25,310","리턴업 전립소 쏘팔메토 아연, 60정, 1개 12,330","메이플트리 쏘팔메토 맥스, 90정, 1개 15,820","중외제약 프리미엄 쏘팔메토, 60캡슐, 1개 13,900","Now Foods 쏘 팔메토 베리즈 550mg 캡슐, 250개입, 1개 16,700","종근당건강 와일드비 프로폴리스 플러스, 60캡슐, 2개 16,920","뉴트리디데이 프리미엄 프로폴리스, 180정, 1개 17,900","네추럴라이즈 비프로폴리스 리퀴드, 30ml, 1병 14,180","GNM자연의품격 프로폴리스05, 150정, 1개 13,471","세노비스 프로폴리스 플러스, 60캡슐, 1개 18,600",...,"뉴트리디데이 프리미엄 오메가3 골드 1100, 108.09g, 1개 19,800","종근당건강 알티지 오메가3 듀얼 영양제, 60정, 3개 18,810","[유한양행][ 6개월분 180캡슐 ]유한 루테인 지아잔틴 눈영양제 120캡슐 + 60캡슐 증정(총180정캡슐) 24,220","종근당건강 아이클리어 눈사랑 루테인, 30정, 3개 18,000","JW중외제약 루테인지아잔틴 오메가3 1050mgx90캡슐 총3박스 EPA DHA 함유유지 루테인 지아잔틴 오메가 오메가-3 눈영양제 눈건강 31,890","안국건강 NEW 눈에좋은 루테인 플러스, 180캡슐, 1개 20,000","종근당건강 아이클리어 루테인 지아잔틴, 30캡슐, 3개 9,950","안국건강 New 루테인 미니 100, 60정, 1박스 9,540","홀리데이즈 루테인, 90정, 1개 14,220","닥터스베스트 루테인 10mg 베지 캡, 120개입, 1개 8,280"
0,1308594,1308594,1308594,4123033,105118877,123729194,14739811.0,8060323.0,19392719,15078955.0,...,113020552,24013465,102980152,112815651,123978111,106707670,56437670,112815651,115338072,46591080.0
1,116887865,114609339,7396848,101091800,276073,19159569,109927536.0,111945575.0,19392719,114828858.0,...,104608408,114078178,117427578,3234588,987317,52017002,117775583,3234588,120182717,18093171.0
2,4560834,6901441,104877602,4123033,123608401,102476754,3468558.0,115462934.0,118895275,17343472.0,...,104608408,100592047,121760621,112815651,117143048,14087213,122379445,112815651,105118877,3014519.0
3,118075501,104679516,108986218,116784744,123470406,102476754,125061158.0,96321.0,123729194,5347183.0,...,109568236,114735430,121760621,73751304,126447696,113078699,8350691,73751304,112320267,26776669.0
4,100456818,7044975,127004755,45418533,37421968,102476754,2523348.0,105887010.0,117086617,107625838.0,...,67259081,100592047,106630502,120578837,112161665,111762384,46591080,120578837,102476754,11420703.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,112254532,109855123,17289591,104652065,110926897,120276620,NaN,NaN,113037874,NaN,...,115127998,114787537,123900394,22678642,113100445,108229442,23582501,122889835,37563639,NaN
996,120043289,110523148,109725452,69781174,105597330,23336670,NaN,NaN,45046729,NaN,...,117498988,109387973,127136757,109540531,116842177,34308733,117171372,115198827,1924428,NaN
997,25950777,50353307,113544436,11264226,116276535,118055593,NaN,NaN,44870042,NaN,...,128088623,109049833,119017129,6634433,105417561,117029500,33676358,115915585,102741841,NaN
998,122990524,104946185,109413330,12619434,117205645,14118314,NaN,NaN,106964141,NaN,...,107882713,21682052,25389590,20937424,118448086,67626324,2882063,114877536,31705695,NaN
999,121799039,11616966,43521690,117312816,44576064,107111360,NaN,NaN,107304500,NaN,...,124490888,108166019,9533799,115736509,112505605,108992151,106961423,115551348,106281901,NaN

In [80]:
len(df.columns)

29

In [81]:
name_label = df.columns
name_label=list(name_label)
name_label = pd.Series(name_label)
name_label.index = range(29)

In [82]:
name_label

0                   종근당건강 시원하다 전립쎈 쏘팔메토, 60정, 2개 25,310
1                       리턴업 전립소 쏘팔메토 아연, 60정, 1개 12,330
2                         메이플트리 쏘팔메토 맥스, 90정, 1개 15,820
3                       중외제약 프리미엄 쏘팔메토, 60캡슐, 1개 13,900
4        Now Foods 쏘 팔메토 베리즈 550mg 캡슐, 250개입, 1개 16,700
5                 종근당건강 와일드비 프로폴리스 플러스, 60캡슐, 2개 16,920
6                    뉴트리디데이 프리미엄 프로폴리스, 180정, 1개 17,900
7                    네추럴라이즈 비프로폴리스 리퀴드, 30ml, 1병 14,180
8                     GNM자연의품격 프로폴리스05, 150정, 1개 13,471
9                       세노비스 프로폴리스 플러스, 60캡슐, 1개 18,600
10                           함소아 프로폴리스, 30ml, 2개 28,800
11                      뉴트리코어 NCS 프로폴리스, 90정, 1개 19,900
12                   네추럴라이즈 비프로폴리스 스프레이, 30ml, 1개 7,900
13     헬씨케어 프로폴리스 2000mg 200정X3묶음 호주직배송, 200정, 3개 6,166
14          메타포뮬러 리티지 알티지 오메가3, 1개, 632mg x 60캡슐 38,000
15        뉴트리디데이 프리미엄 오메가3 골드 1100, 108.09g, 2개입 32,860
16                   종근당건강 프로메가 오메가3 파워, 60정, 3개 24,650
17    미국산 고함량 rTG 알티지 오메가3 6개월분 EPA DHA 혈행개선 영양제 53,900
18    고려은단 알티지 rTG 오메가3 업그레이드 60캡슐, 60캡슐 X 3개(6개월분) ...
19         뉴트리디데이 프리미엄 오메가3 골드 1100, 108.09g, 1개 19,800
20                종근당건강 알티지 오메가3 듀얼 영양제, 60정, 3개 18,810
21    [유한양행][ 6개월분 180캡슐 ]유한 루테인 지아잔틴 눈영양제 120캡슐 + 6...
22                  종근당건강 아이클리어 눈사랑 루테인, 30정, 3개 18,000
23    JW중외제약 루테인지아잔틴 오메가3 1050mgx90캡슐 총3박스 EPA DHA 함...
24              안국건강 NEW 눈에좋은 루테인 플러스, 180캡슐, 1개 20,000
25                 종근당건강 아이클리어 루테인 지아잔틴, 30캡슐, 3개 9,950
26                  안국건강 New 루테인 미니 100, 60정, 1박스 9,540
27                            홀리데이즈 루테인, 90정, 1개 14,220
28                닥터스베스트 루테인 10mg 베지 캡, 120개입, 1개 8,280
dtype: object

In [83]:
a_list = []
for i in range(4+1):
    a_list.append('saw'+str(i+1))
for i in range(5, 13+1):
    a_list.append('pro'+str(i-4))
for i in range(14, 20+1):
    a_list.append('omega'+str(i-13))
for i in range(21, 28+1):
    a_list.append('lut'+str(i-20))

In [84]:
len(a_list)

29

In [10]:
a_list

['saw1',
 'saw2',
 'saw3',
 'saw4',
 'saw5',
 'pro1',
 'pro2',
 'pro3',
 'pro4',
 'pro5',
 'pro6',
 'pro7',
 'pro8',
 'pro9',
 'omega1',
 'omega2',
 'omega3',
 'omega4',
 'omega5',
 'omega6',
 'omega7',
 'lut1',
 'lut2',
 'lut3',
 'lut4',
 'lut5',
 'lut6',
 'lut7',
 'lut8']

In [85]:
name_label.index = a_list

In [86]:
name_label

saw1                    종근당건강 시원하다 전립쎈 쏘팔메토, 60정, 2개 25,310
saw2                        리턴업 전립소 쏘팔메토 아연, 60정, 1개 12,330
saw3                          메이플트리 쏘팔메토 맥스, 90정, 1개 15,820
saw4                        중외제약 프리미엄 쏘팔메토, 60캡슐, 1개 13,900
saw5         Now Foods 쏘 팔메토 베리즈 550mg 캡슐, 250개입, 1개 16,700
pro1                  종근당건강 와일드비 프로폴리스 플러스, 60캡슐, 2개 16,920
pro2                     뉴트리디데이 프리미엄 프로폴리스, 180정, 1개 17,900
pro3                     네추럴라이즈 비프로폴리스 리퀴드, 30ml, 1병 14,180
pro4                      GNM자연의품격 프로폴리스05, 150정, 1개 13,471
pro5                        세노비스 프로폴리스 플러스, 60캡슐, 1개 18,600
pro6                             함소아 프로폴리스, 30ml, 2개 28,800
pro7                        뉴트리코어 NCS 프로폴리스, 90정, 1개 19,900
pro8                     네추럴라이즈 비프로폴리스 스프레이, 30ml, 1개 7,900
pro9       헬씨케어 프로폴리스 2000mg 200정X3묶음 호주직배송, 200정, 3개 6,166
omega1          메타포뮬러 리티지 알티지 오메가3, 1개, 632mg x 60캡슐 38,000
omega2        뉴트리디데이 프리미엄 오메가3 골드 1100, 108.09g, 2개입 32,860
omega3                   종근당건강 프로메가 오메가3 파워, 60정, 3개 24,650
omega4    미국산 고함량 rTG 알티지 오메가3 6개월분 EPA DHA 혈행개선 영양제 53,900
omega5    고려은단 알티지 rTG 오메가3 업그레이드 60캡슐, 60캡슐 X 3개(6개월분) ...
omega6         뉴트리디데이 프리미엄 오메가3 골드 1100, 108.09g, 1개 19,800
omega7                종근당건강 알티지 오메가3 듀얼 영양제, 60정, 3개 18,810
lut1      [유한양행][ 6개월분 180캡슐 ]유한 루테인 지아잔틴 눈영양제 120캡슐 + 6...
lut2                    종근당건강 아이클리어 눈사랑 루테인, 30정, 3개 18,000
lut3      JW중외제약 루테인지아잔틴 오메가3 1050mgx90캡슐 총3박스 EPA DHA 함...
lut4                안국건강 NEW 눈에좋은 루테인 플러스, 180캡슐, 1개 20,000
lut5                   종근당건강 아이클리어 루테인 지아잔틴, 30캡슐, 3개 9,950
lut6                    안국건강 New 루테인 미니 100, 60정, 1박스 9,540
lut7                              홀리데이즈 루테인, 90정, 1개 14,220
lut8                  닥터스베스트 루테인 10mg 베지 캡, 120개입, 1개 8,280
dtype: object

In [87]:
df.columns = a_list

In [88]:
df

,saw1,saw2,saw3,saw4,saw5,pro1,pro2,pro3,pro4,pro5,...,omega6,omega7,lut1,lut2,lut3,lut4,lut5,lut6,lut7,lut8
0,1308594,1308594,1308594,4123033,105118877,123729194,14739811.0,8060323.0,19392719,15078955.0,...,113020552,24013465,102980152,112815651,123978111,106707670,56437670,112815651,115338072,46591080.0
1,116887865,114609339,7396848,101091800,276073,19159569,109927536.0,111945575.0,19392719,114828858.0,...,104608408,114078178,117427578,3234588,987317,52017002,117775583,3234588,120182717,18093171.0
2,4560834,6901441,104877602,4123033,123608401,102476754,3468558.0,115462934.0,118895275,17343472.0,...,104608408,100592047,121760621,112815651,117143048,14087213,122379445,112815651,105118877,3014519.0
3,118075501,104679516,108986218,116784744,123470406,102476754,125061158.0,96321.0,123729194,5347183.0,...,109568236,114735430,121760621,73751304,126447696,113078699,8350691,73751304,112320267,26776669.0
4,100456818,7044975,127004755,45418533,37421968,102476754,2523348.0,105887010.0,117086617,107625838.0,...,67259081,100592047,106630502,120578837,112161665,111762384,46591080,120578837,102476754,11420703.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,112254532,109855123,17289591,104652065,110926897,120276620,NaN,NaN,113037874,NaN,...,115127998,114787537,123900394,22678642,113100445,108229442,23582501,122889835,37563639,NaN
996,120043289,110523148,109725452,69781174,105597330,23336670,NaN,NaN,45046729,NaN,...,117498988,109387973,127136757,109540531,116842177,34308733,117171372,115198827,1924428,NaN
997,25950777,50353307,113544436,11264226,116276535,118055593,NaN,NaN,44870042,NaN,...,128088623,109049833,119017129,6634433,105417561,117029500,33676358,115915585,102741841,NaN
998,122990524,104946185,109413330,12619434,117205645,14118314,NaN,NaN,106964141,NaN,...,107882713,21682052,25389590,20937424,118448086,67626324,2882063,114877536,31705695,NaN
999,121799039,11616966,43521690,117312816,44576064,107111360,NaN,NaN,107304500,NaN,...,124490888,108166019,9533799,115736509,112505605,108992151,106961423,115551348,106281901,NaN

In [89]:
# 사람리스트 만들기
name_list = []
for cname in df.columns:
    name_list.append(df[cname])

In [90]:
name_list = np.array(name_list)

In [91]:
name_list.shape

(29, 1000)

In [92]:
name_list= name_list.flatten()

In [93]:
name_list.shape

(29000,)

In [94]:
name_list = np.array( list(set(name_list)))   # 사람이름 중복 제거

In [95]:
name_list.shape         #사람이름의 수 확인

(22512,)

In [143]:
data = np.zeros((22512,29))

In [144]:
df2 = pd.DataFrame(data)

In [145]:
df2.index = name_list

ValueError: Length mismatch: Expected axis has 22512 elements, new values have 27776 elements

In [146]:
df2.columns = a_list

In [142]:
df2.head()

,saw1,saw2,saw3,saw4,saw5,pro1,pro2,pro3,pro4,pro5,...,omega6,omega7,lut1,lut2,lut3,lut4,lut5,lut6,lut7,lut8
NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [101]:
for c in df2.columns :
    
    for buyer in df[c].to_list():
        
        df2.loc[buyer, c] = 1

In [108]:
df2

,saw1,saw2,saw3,saw4,saw5,pro1,pro2,pro3,pro4,pro5,...,omega6,omega7,lut1,lut2,lut3,lut4,lut5,lut6,lut7,lut8
NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7602146.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7340002.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1966053.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
100532207.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
-74842125.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

## sheet 4~7

In [147]:
sheet4 = pd.read_excel('/Users/seoyeong/Desktop/project/final_user_id_num.xlsx', sheet_name = 4)
sheet5 = pd.read_excel('/Users/seoyeong/Desktop/project/final_user_id_num.xlsx', sheet_name = 5)
sheet6 = pd.read_excel('/Users/seoyeong/Desktop/project/final_user_id_num.xlsx', sheet_name = 6)
sheet7 = pd.read_excel('/Users/seoyeong/Desktop/project/final_user_id_num.xlsx', sheet_name = 7)

In [148]:
df_ = pd.concat([sheet4,sheet5,sheet6,sheet7],axis=1)

In [149]:
df_

,"장대원 밀크씨슬 비타민B 영양제, 90정, 1개 19,790","종근당건강 헬씨칸 밀크씨슬 영양제, 30정, 2개 20,950","대웅제약 에너씨슬 콜레다운 간건강 콜레스테롤케어 (밀크씨슬+홍국+비타민B군+아연), 2박스, 30캡슐(25.5g) 13,320","바날라 밀크씨슬 2세트 4개월분, 900mg 20,900","GC녹십자 온누리 간에 좋은 밀크씨슬 포르테 건강기능식품, 30개입, 2개 28,220","뉴트리디데이 프리미엄 간건강 밀크씨슬, 30정, 4개 6,390","홀리데이즈 프리미엄 콜라겐, 120정, 2개 20,800","에버콜라겐 타임 비오틴, 3g, 50포 47,980","비타할로 피쉬 콜라겐 석류맛, 2g, 90포 15,830","보뚜 저분자 콜라겐 C, 2g, 90포 15,830",...,"초록입보스웰리아65 뉴질랜드 초록입홍합 관절 연골 보스웰리아 뼈 건강 부모님 선물 영양제 180정(3개월분) 선물세트, 1세트, 180정 37,790","GNM자연의품격 연골 무릎 관절엔 MSM 글루코사민 비타민D, 180정 22,860","닥터스베스트 MSM 파우더, 250g, 1개 8,890","프리미엄 고함량 엠에스엠 msm 2000mg 글루코사민+초록입홍합+ 보스웰리아+상어연골+비타민D+망간 관절 연골 면역력 영양제, 162g, 1개 11,340","재로우 MSM 1000mg 베지 캡, 200개입, 1개 25,710","종근당 프리미엄 엠에스엠 MSM, 120정, 2개입 34,800","나우푸드 MSM 1000mg 베지 캡슐, 240개입, 1개 18,460","나우푸드 MSM 1500mg 타블렛, 200개입, 1개 29,000","Jarrow Formulas MSM 1000mg 베지캡슐, 1개 13,700","캐나다 옵티MSM 2000 OptiMSM 연골 무릎 관절 영양제 MSM 엠에스엠, 2박스, 60정 15,790"
0,35759846.0,113987121.0,22600452.0,105118877.0,114167706,109143105.0,114368170.0,123248977.0,118453674.0,16708617.0,...,14739811,107274671.0,107066613.0,122306468.0,66934402.0,124579691.0,8008139.0,11807193.0,3744968.0,12457145
1,112591012.0,37636562.0,19159569.0,18995075.0,7630605,112320267.0,114368170.0,20010583.0,112912023.0,14739811.0,...,14089779,103555009.0,11807193.0,112320267.0,104993248.0,123750275.0,111184398.0,114790677.0,121893750.0,22363032
2,1129326.0,112900176.0,104666525.0,112445161.0,37846365,1308594.0,13819345.0,127485349.0,126033683.0,17940907.0,...,25868484,107274671.0,102476754.0,11807193.0,22151151.0,125455144.0,107945101.0,19014731.0,112098256.0,105080844
3,104817307.0,112271766.0,1308594.0,112581986.0,121955416,112581986.0,112291850.0,6820415.0,107931302.0,108382829.0,...,23885273,105053589.0,14743369.0,102476754.0,122273564.0,120662811.0,8699213.0,326060.0,7170834.0,114745191
4,104817307.0,12748782.0,181037.0,122408989.0,117613230,101095169.0,114368170.0,44479944.0,21879267.0,79987435.0,...,113184413,13826326.0,34093776.0,11807193.0,80052023.0,104501163.0,105806743.0,102480340.0,108623802.0,109367528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1505,NaN,NaN,NaN,NaN,125219353,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1506,NaN,NaN,NaN,NaN,22032713,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1507,NaN,NaN,NaN,NaN,115797917,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1508,NaN,NaN,NaN,NaN,110100348,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1509,NaN,NaN,NaN,NaN,117473957,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [150]:
len(df_.columns)

22

In [151]:
name_label = df_.columns
name_label=list(name_label)
name_label = pd.Series(name_label)
name_label.index = range(22)

In [152]:
name_label

0                     장대원 밀크씨슬 비타민B 영양제, 90정, 1개 19,790
1                    종근당건강 헬씨칸 밀크씨슬 영양제, 30정, 2개 20,950
2     대웅제약 에너씨슬 콜레다운 간건강 콜레스테롤케어 (밀크씨슬+홍국+비타민B군+아연),...
3                       바날라 밀크씨슬 2세트 4개월분, 900mg 20,900
4      GC녹십자 온누리 간에 좋은 밀크씨슬 포르테 건강기능식품, 30개입, 2개 28,220
5                   뉴트리디데이 프리미엄 간건강 밀크씨슬, 30정, 4개 6,390
6                       홀리데이즈 프리미엄 콜라겐, 120정, 2개 20,800
7                          에버콜라겐 타임 비오틴, 3g, 50포 47,980
8                       비타할로 피쉬 콜라겐 석류맛, 2g, 90포 15,830
9                          보뚜 저분자 콜라겐 C, 2g, 90포 15,830
10                       종근당건강 아쿠아 콜라겐, 2g, 120포 27,370
11                      홀리데이즈 프리미엄 콜라겐, 120정, 1개 11,410
12    초록입보스웰리아65 뉴질랜드 초록입홍합 관절 연골 보스웰리아 뼈 건강 부모님 선물 ...
13       GNM자연의품격 연골 무릎 관절엔 MSM 글루코사민 비타민D, 180정 22,860
14                       닥터스베스트 MSM 파우더, 250g, 1개 8,890
15    프리미엄 고함량 엠에스엠 msm 2000mg 글루코사민+초록입홍합+ 보스웰리아+상어...
16                재로우 MSM 1000mg 베지 캡, 200개입, 1개 25,710
17                  종근당 프리미엄 엠에스엠 MSM, 120정, 2개입 34,800
18              나우푸드 MSM 1000mg 베지 캡슐, 240개입, 1개 18,460
19                나우푸드 MSM 1500mg 타블렛, 200개입, 1개 29,000
20           Jarrow Formulas MSM 1000mg 베지캡슐, 1개 13,700
21    캐나다 옵티MSM 2000 OptiMSM 연골 무릎 관절 영양제 MSM 엠에스엠, ...
dtype: object

In [153]:
b_list = []
for i in range(6+1):
    b_list.append('milk'+str(i+1))
for i in range(7,12+1):
    b_list.append('col'+str(i-6))
for i in range(13, 14+1):
    b_list.append('glu'+str(i-12))
for i in range(15, 22):
    b_list.append('msm'+str(i-14))

In [154]:
len(b_list)

22

In [155]:
b_list

['milk1',
 'milk2',
 'milk3',
 'milk4',
 'milk5',
 'milk6',
 'milk7',
 'col1',
 'col2',
 'col3',
 'col4',
 'col5',
 'col6',
 'glu1',
 'glu2',
 'msm1',
 'msm2',
 'msm3',
 'msm4',
 'msm5',
 'msm6',
 'msm7']

In [156]:
name_label.index = b_list

In [157]:
name_label

milk1                    장대원 밀크씨슬 비타민B 영양제, 90정, 1개 19,790
milk2                   종근당건강 헬씨칸 밀크씨슬 영양제, 30정, 2개 20,950
milk3    대웅제약 에너씨슬 콜레다운 간건강 콜레스테롤케어 (밀크씨슬+홍국+비타민B군+아연),...
milk4                      바날라 밀크씨슬 2세트 4개월분, 900mg 20,900
milk5     GC녹십자 온누리 간에 좋은 밀크씨슬 포르테 건강기능식품, 30개입, 2개 28,220
milk6                  뉴트리디데이 프리미엄 간건강 밀크씨슬, 30정, 4개 6,390
milk7                      홀리데이즈 프리미엄 콜라겐, 120정, 2개 20,800
col1                          에버콜라겐 타임 비오틴, 3g, 50포 47,980
col2                       비타할로 피쉬 콜라겐 석류맛, 2g, 90포 15,830
col3                          보뚜 저분자 콜라겐 C, 2g, 90포 15,830
col4                        종근당건강 아쿠아 콜라겐, 2g, 120포 27,370
col5                       홀리데이즈 프리미엄 콜라겐, 120정, 1개 11,410
col6     초록입보스웰리아65 뉴질랜드 초록입홍합 관절 연골 보스웰리아 뼈 건강 부모님 선물 ...
glu1        GNM자연의품격 연골 무릎 관절엔 MSM 글루코사민 비타민D, 180정 22,860
glu2                        닥터스베스트 MSM 파우더, 250g, 1개 8,890
msm1     프리미엄 고함량 엠에스엠 msm 2000mg 글루코사민+초록입홍합+ 보스웰리아+상어...
msm2                 재로우 MSM 1000mg 베지 캡, 200개입, 1개 25,710
msm3                   종근당 프리미엄 엠에스엠 MSM, 120정, 2개입 34,800
msm4               나우푸드 MSM 1000mg 베지 캡슐, 240개입, 1개 18,460
msm5                 나우푸드 MSM 1500mg 타블렛, 200개입, 1개 29,000
msm6            Jarrow Formulas MSM 1000mg 베지캡슐, 1개 13,700
msm7     캐나다 옵티MSM 2000 OptiMSM 연골 무릎 관절 영양제 MSM 엠에스엠, ...
dtype: object

In [158]:
df_.columns = b_list

In [159]:
df_

,milk1,milk2,milk3,milk4,milk5,milk6,milk7,col1,col2,col3,...,col6,glu1,glu2,msm1,msm2,msm3,msm4,msm5,msm6,msm7
0,35759846.0,113987121.0,22600452.0,105118877.0,114167706,109143105.0,114368170.0,123248977.0,118453674.0,16708617.0,...,14739811,107274671.0,107066613.0,122306468.0,66934402.0,124579691.0,8008139.0,11807193.0,3744968.0,12457145
1,112591012.0,37636562.0,19159569.0,18995075.0,7630605,112320267.0,114368170.0,20010583.0,112912023.0,14739811.0,...,14089779,103555009.0,11807193.0,112320267.0,104993248.0,123750275.0,111184398.0,114790677.0,121893750.0,22363032
2,1129326.0,112900176.0,104666525.0,112445161.0,37846365,1308594.0,13819345.0,127485349.0,126033683.0,17940907.0,...,25868484,107274671.0,102476754.0,11807193.0,22151151.0,125455144.0,107945101.0,19014731.0,112098256.0,105080844
3,104817307.0,112271766.0,1308594.0,112581986.0,121955416,112581986.0,112291850.0,6820415.0,107931302.0,108382829.0,...,23885273,105053589.0,14743369.0,102476754.0,122273564.0,120662811.0,8699213.0,326060.0,7170834.0,114745191
4,104817307.0,12748782.0,181037.0,122408989.0,117613230,101095169.0,114368170.0,44479944.0,21879267.0,79987435.0,...,113184413,13826326.0,34093776.0,11807193.0,80052023.0,104501163.0,105806743.0,102480340.0,108623802.0,109367528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1505,NaN,NaN,NaN,NaN,125219353,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1506,NaN,NaN,NaN,NaN,22032713,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1507,NaN,NaN,NaN,NaN,115797917,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1508,NaN,NaN,NaN,NaN,110100348,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1509,NaN,NaN,NaN,NaN,117473957,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [160]:
# 사람리스트 만들기
name_list = []
for cname in df_.columns:
    name_list.append(df_[cname])

In [161]:
name_list = np.array(name_list)

In [162]:
name_list.shape

(22, 1510)

In [163]:
name_list= name_list.flatten()

In [164]:
name_list.shape

(33220,)

In [165]:
name_list = np.array( list(set(name_list)))   # 사람이름 중복 제거

In [166]:
name_list.shape         #사람이름의 수 확인

(27776,)

In [167]:
data = np.zeros((27776,22))

In [168]:
df3 = pd.DataFrame(data)

In [169]:
df3.index = name_list

In [170]:
df3.columns = b_list

In [171]:
df3.head(10)

,milk1,milk2,milk3,milk4,milk5,milk6,milk7,col1,col2,col3,...,col6,glu1,glu2,msm1,msm2,msm3,msm4,msm5,msm6,msm7
nan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
nan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
nan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
nan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
nan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
nan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
nan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
nan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
nan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
nan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
for c in df3.columns :
    
    for buyer in df_[c].to_list():
        
        df3.loc[buyer, c] = 1

In [ ]:
df3